@model IEnumerable<HospitalASP.Historyilling>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnalysisResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePatientilling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Analyze.AnalysisType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Illing.IllingName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnalysisResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePatientilling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Analyze.AnalysisType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Illing.IllingName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HistoryillingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HistoryillingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HistoryillingID })
        </td>
    </tr>
}

</table>
